# Enable Rewriting
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^download/(.*)/(.*)\.html?$ search.php?id=$1&key=$2
RewriteRule ^album/(.*)/(.*)\.html?$ album_list.php?id=$1
RewriteRule ^artist/(.*)/(.*)\.html?$ artist_detail.php?id=$1
RewriteRule ^top-downloads/?$ download_top.php [L,QSA]
RewriteRule ^fresh/?$ fresh_top.php [L,QSA]
RewriteRule ^top-india/?$ top_world.php?top=india [L,QSA]
RewriteRule ^top-world/?$ top_world.php?top=usa [L,QSA]
RewriteRule ^top-uk/?$ top_world.php?top=uk [L,QSA]
RewriteRule ^top-france/?$ top_world.php?top=france [L,QSA]
RewriteRule ^top-brazil/?$ top_world.php?top=brazil [L,QSA]
RewriteRule ^top-arabic/?$ top_world.php?top=arabic [L,QSA]
RewriteRule ^sitemaps.xml sitemapxml.php [L,QSA]
RewriteRule ^sitemap_(.*).xml?$ sitemapxml.php?page=$1[L,QSA]
RewriteRule ^([a-zA-Z0-9-/]+?)/?$ index.php?lang=$1 [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^mp3/(.*)\.html?$ result.php?title=$1 [NC]